{%  load product_extras%}

<div class="card">
    <div class="card-body">
        <div class="font-weight-bold">
            Resume del pedido
        </div>
        <div class="">
            <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Productos:</td>
                        <td>{{ cart.total | price_format }}</td>
                    </tr>
                    <tr>
                        <td>Envio:</td>
                        <td>{{ order.shipping_total | price_format  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="">
            <hr>
            <div class="font-weight-bold text-danger">
                Total (Impuestos incluidos)
                <div class="d-inline-block" id="order-total">
                    {{order.total | price_format }}
                </div>
            </div>            
        </div>
        <div class="mt-2">
            <a class="btn btn-warning" href="{{ next_url }}">Confirmar pedido</a>

        </div>
    </div>
</div>